main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    height: fit-content;
    min-width: 400px;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      
        input,button{
            border: none;
            outline: none;
            padding-inline: 1.5rem;
            padding-block: 1rem;
            border-radius: 1rem;
        }

        button {
            background-color: rgb(173, 26, 26);
            color: whitesmoke;
            cursor: pointer;
        }
        
    }

    .toggleAuthForm {
        color: red;
        text-decoration: none;
    }
}