@mixin userImage-warper($width) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $width;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 0.1rem;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #f9ce34 0deg,
    #ee2a7b 90deg,
    #6228d7 180deg,
    #ee2a7b 270deg,
    #f9ce34 360deg
  );
}

@mixin userImage() {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(4, 4, 4);
}
.feed-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .feed {
    max-width: 25%;
    width: 100%;
    padding: 0.8rem;
    .posts {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      .post {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        // border: 1px solid rgb(54, 52, 52);
        // padding: 0.9rem 0.6rem;
        .user {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          line-height: 15px;

          .user-info {
            width: 100%;
            display: flex;
            gap: 0.6rem;

            .userImg-wraper {
              @include userImage-warper(2.5rem);

              img {
                @include userImage();
              }
            }

            p {
              font-size: 0.9rem;
              small {
                font-size: 0.7rem;
                color: rgb(151, 150, 150);
              }
            }
          }
        }

        img {
          border-radius: 0.4rem;
          width: 100%;
          aspect-ratio: 4/5;
          object-fit: cover;
        }

        .bottom {
          width: 100%;
          display: flex;
          flex-direction: column;

          line-height: 24px;
          .actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 0.3rem;
            .left-actions {
              display: flex;
              gap: 1rem;
            }

            .actions-icon {
              width: 1.4rem;
            }
          }

          .likes-count {
            color: gray;
            display: flex;
            align-items: center;
            gap: 0.4rem;
            font-weight: 700;
            small {
              font-size: 1rem;
            }
          }

          .caption {
            display: flex;
            gap: 0.3rem;
            align-items: center;
            span {
              font-weight: 500;
              font-size: 1rem;
            }
            p {
              color: gray;
              font-size: 0.9rem;
            }
          }

          .timestamp {
            color: gray;
            font-size: 0.6rem;
          }

          .add-comment {
            display: flex;
            padding: 0.7rem 0.3rem;
            gap: 1.5rem;
            .userImg-wraper {
             @include userImage-warper(2.2rem);

              img {
               @include userImage();
              }
            }

            .comment-input {
              width: 100%;
              padding: 0.3rem 0.8rem;
              background-color: rgb(23, 22, 22);
              color: white;
              border: none;
              outline: none;
              border-radius: 0.1rem;
            }

            .post-btn {
              background-color: transparent;
              border: none;
              color: #6228d7;
            }
          }
        }
      }
    }
  }
}
